In [1]:
import pandas as pd
import numpy as np

In [2]:
dot1 = pd.read_csv("/content/customer_data.csv")
dot2 = pd.read_csv("/content/internet_data.csv")
dot3 = pd.read_excel("/content/churn_data.xlsx")

In [3]:
dot1.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents'], dtype='object')

In [4]:
dot2.columns

Index(['customerID', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies'],
      dtype='object')

In [5]:
dot3.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
dot1.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [7]:
dot1.shape

(7042, 5)

In [8]:
dot2.head()

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,No,Fiber optic,No,No,No,No,No,No

In [9]:
dot2.shape

(7042, 9)

In [10]:
dot3.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1.0,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34.0,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2.0,Yes,Month-to-month,Yes,Mailed check,53.85,NaN,Yes
3,7795-CFOCW,45.0,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2.0,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
dot3.shape

(7042, 9)

In [12]:
pd.set_option('display.max_columns', 50)

In [13]:
joined_dot = pd.concat([dot1, dot2[['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']], dot3[['tenure', 'PhoneService', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']]], axis=1)

In [14]:
joined_dot.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No phone service,DSL,No,Yes,No,No,No,No,1.0,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,No,DSL,Yes,No,Yes,No,No,No,34.0,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,No,DSL,Yes,Yes,No,No,No,No,2.0,Yes,Month-to-month,Yes,Mailed check,53.85,NaN,Yes
3,7795-CFOCW,Male,0,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,45.0,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,No,Fiber optic,No,No,No,No,No,No,2.0,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [15]:
joined_dot.shape

(7042, 21)

In [16]:
joined_dot.size

147882

In [17]:
joined_dot.nunique()

customerID          7042
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
tenure                73
PhoneService           2
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1584
TotalCharges        6520
Churn                  2
dtype: int64

In [18]:
joined_dot.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
tenure              float64
PhoneService         object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [19]:
joined_dot['TotalCharges'] = pd.to_numeric(joined_dot['TotalCharges'],errors='coerce').fillna(0)

In [20]:
joined_dot.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No phone service,DSL,No,Yes,No,No,No,No,1.0,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,No,DSL,Yes,No,Yes,No,No,No,34.0,Yes,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,No,DSL,Yes,Yes,No,No,No,No,2.0,Yes,Month-to-month,Yes,Mailed check,53.85,0.00,Yes
3,7795-CFOCW,Male,0,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,45.0,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,No,Fiber optic,No,No,No,No,No,No,2.0,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [21]:
joined_dot.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7042.000000  7038.000000     7028.000000   7042.000000
mean        0.162170    32.359761       64.741641   2275.376612
std         0.368633    24.554612       30.098308   2266.745501
min         0.000000     0.000000       18.250000      0.000000
25%         0.000000     9.000000       35.450000    392.537500
50%         0.000000    29.000000       70.325000   1390.225000
75%         0.000000    55.000000       89.850000   3778.075000
max         1.000000    72.000000      118.750000   8684.800000

In [22]:
joined_dot.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
tenure               4
PhoneService         3
Contract             2
PaperlessBilling     3
PaymentMethod        7
MonthlyCharges      14
TotalCharges         0
Churn                0
dtype: int64

In [23]:
joined_dot["tenure"].fillna(joined_dot["tenure"].median(),inplace=True)
joined_dot["PhoneService"].fillna(joined_dot["PhoneService"].mode()[0],inplace=True)
joined_dot["Contract"].fillna(joined_dot["Contract"].mode()[0],inplace=True)
joined_dot["PaperlessBilling"].fillna(joined_dot["PaperlessBilling"].mode()[0],inplace=True)
joined_dot["PaymentMethod"].fillna(joined_dot["PaymentMethod"].mode()[0],inplace=True)
joined_dot["MonthlyCharges"].fillna(joined_dot["MonthlyCharges"].median(),inplace=True)

In [24]:
joined_dot.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
tenure              0
PhoneService        0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [25]:
joined_dot.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
tenure              float64
PhoneService         object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [26]:
joined_dot.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [27]:
labels_dict = {}
obj_to_int = ['gender','Partner', 'Dependents','MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup','DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies','PhoneService', 'Contract', 'PaperlessBilling','PaymentMethod','Churn'] 

for col in obj_to_int:
    unique_values = joined_dot[col].unique()
    for i, val in enumerate(unique_values):
        labels_dict[val] = i
    joined_dot[col] = joined_dot[col].apply(lambda x: labels_dict[x])

In [28]:
labels_dict

{'Female': 0,
 'Male': 1,
 'Yes': 1,
 'No': 0,
 'No phone service': 0,
 'DSL': 0,
 'Fiber optic': 1,
 'No internet service': 2,
 'Month-to-month': 0,
 'One year': 1,
 'Two year': 2,
 'Electronic check': 0,
 'Mailed check': 1,
 'Bank transfer (automatic)': 2,
 'Credit card (automatic)': 3}

In [29]:
joined_dot.dtypes

customerID           object
gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
tenure              float64
PhoneService          int64
Contract              int64
PaperlessBilling      int64
PaymentMethod         int64
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [30]:
joined_dot.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0,0,0,0,29.85,29.85,0
1,5575-GNVDE,1,0,1,0,1,0,1,1,1,0,0,0,34.0,1,1,1,1,56.95,1889.50,0
2,3668-QPYBK,1,0,1,0,1,0,1,0,0,0,0,0,2.0,1,0,0,1,53.85,0.00,1
3,7795-CFOCW,1,0,1,0,0,0,1,1,1,1,0,0,45.0,0,1,1,2,42.30,1840.75,0
4,9237-HQITU,0,0,1,0,1,1,0,1,0,0,0,0,2.0,1,0,0,0,70.70,151.65,1

In [31]:
joined_dot=joined_dot.drop(['customerID'],axis=1)

In [32]:
joined_dot.head()

,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0,0,0,0,29.85,29.85,0
1,1,0,1,0,1,0,1,1,1,0,0,0,34.0,1,1,1,1,56.95,1889.50,0
2,1,0,1,0,1,0,1,0,0,0,0,0,2.0,1,0,0,1,53.85,0.00,1
3,1,0,1,0,0,0,1,1,1,1,0,0,45.0,0,1,1,2,42.30,1840.75,0
4,0,0,1,0,1,1,0,1,0,0,0,0,2.0,1,0,0,0,70.70,151.65,1

In [33]:
# Split the data into train and test sets
train_data = joined_dot.sample(frac=0.8, random_state=123)
test_data = joined_dot.drop(train_data.index)

In [34]:
train_data

,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2519,1,0,0,0,2,1,0,1,1,0,1,0,2.0,1,0,0,0,91.45,171.45,0
6983,0,0,1,0,1,1,0,0,1,1,0,0,23.0,1,0,1,2,83.20,2032.30,0
5620,1,0,0,0,2,1,0,0,1,0,1,1,72.0,1,2,0,2,104.80,7470.10,0
6160,0,0,1,0,2,0,1,1,1,1,1,1,36.0,1,1,0,3,89.65,3348.10,0
5205,0,0,1,0,2,1,1,0,1,0,0,0,37.0,1,0,1,2,91.20,3382.30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,0,1,0,1,1,1,0,1,0,0,0,0,1.0,1,0,0,0,69.25,69.25,1
6296,0,1,0,0,0,0,1,0,1,0,0,1,31.0,0,1,0,3,50.40,1580.10,0
4258,0,1,0,0,2,1,1,1,1,1,1,1,43.0,1,1,0,1,109.55,4830.25,1
3414,0,0,1,0,0,0,1,1,1,1,0,0,47.0,0,2,1,1,41.90,1875.25,0
414,0,1,0,0,1,1,0,1,0,0,0,0,48.0,1,0,0,2,70.65,3545.05,0

In [35]:
test_data

,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2,1,0,1,0,1,0,1,0,0,0,0,0,2.0,1,0,0,1,53.85,0.00,1
3,1,0,1,0,0,0,1,1,1,1,0,0,45.0,0,1,1,2,42.30,1840.75,0
8,0,0,0,0,2,1,0,1,1,1,1,1,28.0,1,0,0,0,104.80,3046.05,1
14,1,0,1,0,1,1,1,1,1,1,1,1,25.0,1,0,0,0,105.50,2686.05,0
16,0,0,1,0,1,2,2,2,2,2,2,2,52.0,1,1,1,1,20.65,1022.95,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7025,0,0,1,0,2,1,0,1,1,1,0,1,18.0,1,0,0,2,95.05,1679.40,0
7027,1,0,1,0,1,0,0,0,0,1,1,1,13.0,1,0,1,1,73.35,931.55,0
7029,0,1,1,0,0,0,0,1,0,0,1,1,6.0,0,0,0,0,44.40,263.05,0
7035,1,0,1,0,1,1,0,1,0,0,1,0,19.0,1,0,0,2,78.70,1495.10,0
7039,0,0,0,1,2,1,0,0,1,0,1,1,72.0,1,1,0,3,103.20,7362.90,0

In [36]:
# Define a function for calculating chi-square value
def chi_square(observed, expected):
    return np.sum((observed-expected)**2/expected)

In [37]:
# Define a function to find the best split feature
def find_best_feature(data, target="Churn"):
    best_feature = None
    best_chi_square = 0
    
    for feature in data.columns:
        if feature == target:
            continue
            
        observed = pd.crosstab(data[feature], data[target]).values
        feature_sum = np.sum(observed, axis=1)
        target_sum = np.sum(observed, axis=0)
        total_sum = np.sum(feature_sum)
        expected = np.outer(feature_sum, target_sum) / total_sum
        
        feature_chi_square = chi_square(observed, expected)
        
        if feature_chi_square > best_chi_square:
            best_chi_square = feature_chi_square
            best_feature = feature

        if best_feature is None:
           return target
    
    return best_feature

In [38]:
def build_tree(data, target, features, max_depth=None, current_depth=0, min_samples_split=2, min_samples_leaf=1, random_state=None):
    # Base case 1: maximum depth is reached
    if max_depth and current_depth == max_depth:
        return {'Churn': data[target].mode()[0]}
    
    # Base case 2: no features left
    if len(features) == 0:
        return {'Churn': data[target].mode()[0]}
    
    # Find the best feature to split the data
    best_feature = find_best_feature(data, target)
    
    # Create a new node with the best feature
    root = {'feature': best_feature, 'Churn': data[target].mode()[0], 'children': {}}
    
    # Remove the best feature from the list of features
    features = [f for f in features if f != best_feature]

    # Check if the node should be split further
    if len(data) < min_samples_split:
        return {'Churn': data[target].mode()[0]}
    
    # Split the data by the best feature
    for value in np.unique(data[best_feature]):
        sub_data = data[data[best_feature] == value]
        sub_tree = build_tree(sub_data, target, features, max_depth, current_depth+1,min_samples_split, min_samples_leaf, random_state)
        root['children'][value] = sub_tree

    # Add a 'Loan_Status' key at leaf nodes
    if len(root['children']) == 0:
        root['Churn'] = data[target].mode()[0]
        
    return root

In [39]:
# Define a function to predict the class for a new instance
def predict(instance, tree):
    # Traverse the tree until a leaf node is found
    while 'feature' in tree:
        feature_value = instance[tree['feature']]
        if feature_value not in tree['children']:
            break
        tree = tree['children'][feature_value]
        
    # Return the predicted class
    return tree['Churn']

In [40]:
# Build the decision tree using the train data
target = 'Churn'
features = list(train_data.columns[:-1])
tree = build_tree(train_data, target, features, max_depth=6, min_samples_split=3, min_samples_leaf=1)

In [41]:
predictions = []
for i, instance in test_data.iterrows():
    predictions.append(predict(instance, tree))

In [42]:
accuracy = np.mean(predictions == test_data[target])
print("Accuracy:", accuracy)

Accuracy: 0.7428977272727273

In [43]:
def grid_search(train_data, test_data, target, features, max_depth_list, min_samples_split_list, min_samples_leaf_list, random_state=None):
    best_accuracy = 0
    best_tree = None
    best_params = None
    
    for max_depth in max_depth_list:
        for min_samples_split in min_samples_split_list:
            for min_samples_leaf in min_samples_leaf_list:
                tree = build_tree(train_data, target, features, max_depth=max_depth, min_samples_split=min_samples_split, min_samples_leaf=min_samples_leaf, random_state=random_state)

                # Calculate the accuracy of the tree on the test data
                predictions = [predict(instance, tree) for i, instance in test_data.iterrows()]
                accuracy = np.mean(predictions == test_data[target])

                if accuracy > best_accuracy:
                    best_accuracy = accuracy
                    best_tree = tree
                    best_params = {'max_depth': max_depth, 'min_samples_split': min_samples_split, 'min_samples_leaf': min_samples_leaf}
    
    return best_accuracy, best_tree, best_params

In [44]:
# Define the hyperparameters to search over
max_depth_list = [3, 4, 5, 6]
min_samples_split_list = [2, 3, 4, 5]
min_samples_leaf_list = [1, 2, 3, 4]

In [ ]:
target = "Churn"
features = [f for f in train_data.columns if f != target]
best_accuracy, best_tree, best_params = grid_search(train_data, test_data, target, features, max_depth_list, min_samples_split_list, min_samples_leaf_list, random_state=42)

In [ ]:
best_params

In [ ]:
best_tree

In [ ]:
# Build the decision tree using the train data
target = 'Churn'
features = list(train_data.columns[:-1])
tree = build_tree(train_data, target, features, max_depth=3, min_samples_split=4, min_samples_leaf=1)

In [ ]:
predictions = []
for i, instance in test_data.iterrows():
    predictions.append(predict(instance, tree))

In [ ]:
accuracy = np.mean(predictions == test_data[target])
print("Accuracy:", accuracy)